body{
  background-color:#696969;
}

.form-container
{
  position: relative;
  top:15vh;
  background:#000000;
  color: #FFFFFF;
  padding:40px;
  border-radius:10px;
  box-shadow: 0px 0px 10px 0px #000;
}
.btn
{
  position: relative;
  margin-left:38vh;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
